.accordion {
	&.is-open {
		.accordion__btn {
			--_color: var(--light-color);
			--_background-color: var(--primary-color);

			.icon {
				transform: initial;
			}
		}

		.accordion__body {
			max-height: 100rem;
		}
	}

	&-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.875rem;

		&--import {
			display: none;
		}
	}

	&__btn {
		--_background-color: var(--background-light);
		--_icon-size: 2rem;

		--_color-active: var(--light-color);
		--_background-color-active: var(--primary-color);

		width: 100%;
		justify-content: space-between;
		font-family: var(--font-title);
		font-size: var(--h7);
		font-weight: 700;
		border-radius: var(--radius-md);
		padding: .75rem 1rem .75rem 2rem;
		text-align: left;

		.icon {
			transform: rotateX(180deg);
			transition: transform var(--transition-duration) var(--transition-type);
		}
	}

	&__body {
		max-height: 0;
		overflow: hidden;
		transition: max-height calc(var(--transition-duration) * 2) var(--transition-type);
	}

	&__content {
		margin-block: 1.875rem 0;
	}
}

.accordion-group--resizable {
	display: grid;

	.accordion-group__start,
	.accordion-group__end {
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
	}
}

@media (min-width: 75rem) {
	.accordion-group--resizable {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.875rem;

		.accordion-group__start {

			.accordion {
				background-color: transparent;
				border: 1px solid #eee;
			}
		}

		.accordion {
			background-color: var(--background-lighter);
			border-radius: var(--radius-3xl);
			padding: 5rem;

			&.is-open {
				.accordion__btn {
					--_color: inherit;
					--_background-color: transparent;
				}
			}

			&__btn {
				--_background-color: transparent;
				--_color-active: inherit;
				--_background-color-active: transparent;
				
				padding: 0;

				.icon {
					display: none;
				}
			}

			&__body {
				max-height: 100%;
			}
		}
	}
}