.bourse {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
	gap: 1.875rem;
	margin-bottom: 5rem;

	&__item {
		text-align: center;

		&-image {
			width: auto;
			height: 12.5rem;
			display: block;
			margin: 0 auto 1.875rem;
			border-radius: 6.25rem;
		}
	}
}