.bourse {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem 5rem;
	margin-bottom: 5rem;

	&__item {
		text-align: center;

		&-title {
			margin: 0;
		}

		&-image {
			width: 100%;
			height: 6.25rem;
			display: block;
			margin: 0 auto 1.25rem;
			border-radius: 1.5rem;
		}
	}
}