.contract {
	display: grid;
	grid-template-columns: minmax(30rem, 60rem) minmax(30rem, 40rem);
	align-items: center;
	gap: 1.875rem;

	&__end {
		margin-right: -4rem;
		position: relative;
	}

	&__image {
		min-height: 20rem;
		display: block;
		margin-inline: auto;
		object-fit: contain;
	}

	&__btn {
		--_icon-size: 11.25rem;

		position: absolute;
		left: 5rem;
		bottom: 5rem;
		z-index: 1;
	}
}