.btn-efficacy {
	width: max-content;
	min-height: max-content;
	border-radius:var(--radius-lg) var(--radius-lg) 0 0;
	padding: 1.5rem 3.125rem;
	position: fixed;
	top: 50%;
	left: calc(100% - 18.25rem);
	transform: translateY(-50%) rotate(-90deg);
	z-index: 1;
}