.field {
	--_field-fs: var(--fs);
	--_field-fw: 400;
	--_field-lh: var(--lh-1);
	--_field-color: var(--text-color);
	--_field-bg: transparent;
	--_field-duration: var(--transition-duration);
	--_field-type: var(--transition-type);

	--_field-p-fs: var(--_field-fs);
	--_field-p-fw: var(--_field-fw);
	--_field-p-lh: var(--_field-lh);
	--_field-p-color: var(--text-color);

	width: 100%;
	height: 2.5rem;
	font-size: var(--_field-fs);
	font-weight: var(--_field-fw);
	line-height: var(--_field-lh);
	color: var(--_field-color);
	background-color: var(--_field-bg);
	border: 0;
	border-radius: 0;
	padding: .5rem 1.25rem;
	outline: none;
	transition-property: color, background, border;
	transition-duration: var(--_field-duration);
	transition-timing-function: var(--_field-type);

	&::placeholder {
		font-size: var(--_field-p-fs);
		font-weight: var(--_field-p-fw);
		line-height: var(--_field-p-lh);
		color: var(--_field-p-color);
	}
}