.footer {
	padding-block: 2rem 1rem;

	&__inner {
		display: grid;
		grid-template-columns: 9.25rem auto auto;
		gap: 4rem;
	}

	&__top {
		padding-bottom: 2rem;
	}
	
	&__call {
		display: flex;
		justify-content: flex-end;
		gap: 2rem;
	}

	&__bottom {
		font-size: var(--fs-xxs);
		border-top: 1px solid var(--primary-color);
		padding-top: 1rem;

		.footer__inner {
			grid-template-columns: 20rem auto auto;
			align-items: center;
		}
	}

	&__details {
		font-size: var(--fs-xxs);
		line-height: var(--lh-5);
	}

	&__phone {
		font-family: var(--title-font);
		font-size: var(--h7);
		font-weight: 700;
		line-height: var(--lh-1);
	}

	&__socials {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: .625rem;

		&-link {
			--_icon-size: 2.25rem;
		}
	}

	&__text {
		margin: 0;

		&-link {
			justify-content: flex-end;
		}
	}
}