.header {
	background-color: var(--background);
	padding-block: 1.25rem;

	&__inner,
	&__start,
	&__end {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	&__inner {
		width: 100%;
		justify-content: space-between;
	}

	&__end {
		gap: 3rem;
	}

	&__phone,
	&__callback {
		white-space: nowrap;
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: .875rem;

		&-whatsapp {
			--_icon-size: 2.25rem;
		}

		&-content {
			--_color: var(--secondary-color);

			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: .25rem;
			font-family: var(--font-title);
			font-size: var(--fs-lg);
			font-weight: 700;
			line-height: var(--lh-1);

			&--tiny {
				font-family: var(--font-family);
				font-size: var(--fs-xxs);
				font-weight: 400;
				text-align: right;
			}
		}
	}

	&__callback {
		min-height: 2.875rem;
		font-family: var(--font-title);
		font-size: var(--fs);
		font-weight: 700;
		text-transform: uppercase;
		border-radius: var(--radius-sm);
		padding: .5rem 1rem;
	}
}