.hero {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__inner {
		width: 100%;
		background: var(--background-light) url(../img/hero/hero-bg.svg) no-repeat center / contain;
		border-radius: var(--radius-lg);
		padding: 2.5rem var(--container-offset) 3.125rem;
		clip-path: polygon( 11.5% 7.618%,11.5% 7.618%,11.675% 7.596%,11.847% 7.531%,12.015% 7.425%,12.179% 7.278%,12.337% 7.091%,12.489% 6.866%,12.634% 6.604%,12.77% 6.306%,12.898% 5.974%,13.016% 5.608%,14.05% 2.098%,14.05% 2.098%,14.168% 1.732%,14.296% 1.399%,14.432% 1.102%,14.577% 0.84%,14.729% 0.615%,14.887% 0.428%,15.051% 0.281%,15.219% 0.174%,15.391% 0.109%,15.566% 0.088%,98.025% 0.088%,98.025% 0.088%,98.345% 0.161%,98.649% 0.373%,98.932% 0.713%,99.191% 1.169%,99.421% 1.729%,99.619% 2.382%,99.779% 3.116%,99.899% 3.92%,99.974% 4.783%,100% 5.692%,100% 94.308%,100% 94.308%,99.974% 95.217%,99.899% 96.08%,99.779% 96.884%,99.619% 97.618%,99.421% 98.271%,99.191% 98.831%,98.932% 99.287%,98.649% 99.627%,98.345% 99.839%,98.025% 99.912%,63.007% 99.912%,63.007% 99.912%,62.894% 99.903%,62.782% 99.876%,62.671% 99.831%,62.561% 99.767%,62.452% 99.687%,62.346% 99.589%,62.241% 99.474%,62.139% 99.342%,62.039% 99.194%,61.942% 99.029%,59.829% 95.192%,59.829% 95.192%,59.733% 95.027%,59.633% 94.879%,59.531% 94.747%,59.426% 94.632%,59.319% 94.534%,59.211% 94.453%,59.101% 94.39%,58.99% 94.345%,58.878% 94.317%,58.765% 94.308%,50.083% 94.308%,41.402% 94.308%,41.402% 94.308%,41.289% 94.317%,41.177% 94.345%,41.066% 94.39%,40.956% 94.453%,40.847% 94.534%,40.741% 94.632%,40.636% 94.747%,40.534% 94.879%,40.434% 95.027%,40.337% 95.192%,38.224% 99.029%,38.224% 99.029%,38.128% 99.194%,38.028% 99.342%,37.926% 99.474%,37.821% 99.589%,37.714% 99.687%,37.606% 99.767%,37.496% 99.831%,37.385% 99.876%,37.273% 99.903%,37.16% 99.912%,2.132% 99.912%,2.132% 99.912%,1.812% 99.84%,1.509% 99.629%,1.227% 99.291%,0.968% 98.838%,0.738% 98.281%,0.541% 97.632%,0.38% 96.901%,0.26% 96.101%,0.184% 95.242%,0.156% 94.337%,0.01% 13.251%,0.01% 13.251%,0.035% 12.339%,0.108% 11.472%,0.227% 10.665%,0.388% 9.926%,0.585% 9.27%,0.816% 8.706%,1.075% 8.248%,1.359% 7.906%,1.664% 7.692%,1.985% 7.618%,11.5% 7.618% );
	}
	
	&-section {

		&,
		&:first-child,
		&:last-child {
			padding-bottom: 0;
		}
	}

	&__features {
		display: grid;
		grid-template-columns: repeat(3, max-content);
		align-items: start;
		justify-content: center;
		gap: 2.5rem;
		margin: 3rem auto 2.5rem;
	}

	&__feature {
		display: flex;
		align-items: center;
		gap: 1.25rem;

		&-icon {
			--_i-size: 1.875rem;
			--_i-color: var(--primary-color);
		}

		&-content {
			margin-block: auto;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	&__btn {
		max-width: 22.5rem;
		font-size: var(--fs-lg);
	}

	&__hint {
		display: flex;
		align-items: center;
	}
}