.implemented {
	color: var(--light-color);
	background-color: var(--primary-color);
	background-image: url(../img/implemented/bg-svg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: var(--radius-3xl);
	padding: 7.5rem 0;

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 4rem 2rem;
		font-size: var(--fs-lg);
		text-align: center;

		&-item {
			display: flex;
			flex-direction: column;
			gap: 1.875rem;
		}

		&-image {
			width: auto;
			height: 6.25rem;
			display: block;
			margin-inline: auto;
			border-radius: var(--radius-3xl);
		}

		&-title {
			color: inherit;
			margin-bottom: .375rem;
		}
	}
}