.kits {

	&__item {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		background-color: var(--background-gray);
		border-radius: var(--radius-md);
		padding: 4rem 3rem 5rem;

		&-title {
			text-align: center;
			margin-bottom: 0;
		}

		&-list {
			margin-bottom: 1rem;

			&:not(.swiper) {
				gap: 1rem;
			}
		}

		&-btn {
			margin-top: auto;
		}
	}
}

@media (min-width: 75rem) {
	.kits {

		.swiper-slide {
			width: 100%;
		}

		&__item {

			&-list {
				.list-icon-svg {
					--_i-size: 1.875rem;
				}
			}
		}
	}
}