.list-icon {
	font-size: var(--fs-lg);
	
	&:not(.swiper) {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
	}

	&-item {
		display: flex;
		gap: 1.875rem;
	}

	&-svg {
		--_i-size: 3.125rem;
	}

	&-title {
		line-height: var(--lh-3);
		margin-bottom: .625rem;

		&--0 {
			margin-bottom: 0;
		}

		&_small {
			font-size: var(--fs);
		}
	}
	
	&-content {
		margin-block: auto;
	}
}

.list-icon-md {

	&:not(.swiper) {
		gap: 1.25rem;
	}

	.list-icon {

		&-svg {
			--_i-size: 1.5rem;
			--_i-color: var(--primary-color);
		}
	}

	.list-icon-item {
		gap: 1.25rem;
	}
}