.percentage {
	padding-top: 2rem;

	&__list {

		.swiper-slide {
			&:nth-child(3n-2) .percentage__list-item {
				color: var(--light-color);
				background-color: var(--background-dark);
			}

			&:nth-child(3n) .percentage__list-item {
				color: var(--light-color);
				background-color: var(--primary-color);
			}
		}

		&-item {
			background-color: var(--background);
			border-radius: var(--radius-lg);
			padding: 3.75rem;
		}

		&-title {
			margin-bottom: 0;

			&,
			* {
				color: inherit;
			}
		}

		&-text {
			color: inherit;
			font-size: var(--fs-xl);
		}
	}
}

@media (min-width: 75rem) {
	.percentage__list {

		.swiper-slide {
			width: 100%;
		}
	}
}