.percentage {
	padding-top: 4rem;

	&__list {

		.swiper-slide {
			&:nth-child(3n-2) .percentage__list-item {
				color: var(--light-color);
				background-color: var(--background-dark);
				clip-path: polygon( 0% 6%,0% 6%,0.035% 5.027%,0.136% 4.104%,0.298% 3.243%,0.515% 2.456%,0.781% 1.757%,1.092% 1.158%,1.441% 0.67%,1.824% 0.306%,2.234% 0.079%,2.667% 0%,84.444% 0%,84.444% 0%,85.016% 0.28%,85.552% 0.847%,86.055% 1.669%,86.531% 2.713%,86.984% 3.948%,87.417% 5.342%,87.834% 6.863%,88.241% 8.48%,88.641% 10.16%,89.039% 11.872%,89.039% 11.872%,89.186% 12.43%,89.358% 12.941%,89.553% 13.402%,89.767% 13.81%,90% 14.163%,90.248% 14.457%,90.509% 14.691%,90.782% 14.861%,91.064% 14.965%,91.352% 15%,97.333% 15%,97.333% 15%,97.766% 15.079%,98.176% 15.306%,98.559% 15.67%,98.908% 16.158%,99.219% 16.757%,99.485% 17.456%,99.702% 18.243%,99.864% 19.104%,99.965% 20.027%,100% 21%,100% 94%,100% 94%,99.965% 94.973%,99.864% 95.896%,99.702% 96.757%,99.485% 97.543%,99.219% 98.243%,98.908% 98.842%,98.559% 99.33%,98.176% 99.694%,97.766% 99.921%,97.333% 100%,2.667% 100%,2.667% 100%,2.234% 99.921%,1.824% 99.694%,1.441% 99.33%,1.092% 98.842%,0.781% 98.243%,0.515% 97.543%,0.298% 96.757%,0.136% 95.896%,0.035% 94.973%,0% 94%,0% 6% );
			}

			&:nth-child(3n) .percentage__list-item {
				color: var(--light-color);
				background-color: var(--primary-color);
				clip-path: polygon( 8.941% 15.004%,8.941% 15.004%,9.182% 14.979%,9.42% 14.906%,9.652% 14.786%,9.878% 14.621%,10.096% 14.412%,10.305% 14.159%,10.503% 13.866%,10.69% 13.533%,10.863% 13.161%,11.023% 12.752%,14.755% 2.256%,14.755% 2.256%,14.914% 1.847%,15.088% 1.475%,15.275% 1.142%,15.473% 0.849%,15.682% 0.597%,15.9% 0.387%,16.126% 0.222%,16.358% 0.102%,16.596% 0.029%,16.837% 0.004%,97.333% 0.004%,97.333% 0.004%,97.766% 0.083%,98.176% 0.31%,98.559% 0.674%,98.908% 1.162%,99.219% 1.762%,99.485% 2.461%,99.702% 3.247%,99.864% 4.108%,99.965% 5.031%,100% 6.004%,100% 94%,100% 94%,99.965% 94.973%,99.864% 95.897%,99.702% 96.757%,99.485% 97.544%,99.219% 98.243%,98.908% 98.842%,98.559% 99.33%,98.176% 99.694%,97.766% 99.921%,97.333% 100%,2.667% 100%,2.667% 100%,2.234% 99.921%,1.824% 99.694%,1.441% 99.33%,1.092% 98.842%,0.781% 98.243%,0.515% 97.544%,0.298% 96.757%,0.136% 95.897%,0.035% 94.973%,0% 94%,0% 21.003%,0% 21.003%,0.035% 20.03%,0.136% 19.107%,0.298% 18.246%,0.515% 17.46%,0.781% 16.761%,1.092% 16.161%,1.441% 15.673%,1.824% 15.31%,2.234% 15.082%,2.667% 15.004%,8.941% 15.004% );
			}
		}

		&-item {
			background-color: var(--background-light);
			border-radius: var(--radius-lg);
			padding: 2.5rem;
			clip-path: polygon( 8.941% 15%,8.941% 15%,9.182% 14.975%,9.42% 14.902%,9.652% 14.783%,9.878% 14.617%,10.096% 14.408%,10.305% 14.156%,10.503% 13.862%,10.69% 13.529%,10.863% 13.157%,11.023% 12.748%,14.755% 2.252%,14.755% 2.252%,14.914% 1.843%,15.088% 1.471%,15.275% 1.138%,15.473% 0.844%,15.682% 0.592%,15.9% 0.383%,16.126% 0.217%,16.358% 0.098%,16.596% 0.025%,16.837% 0%,84.444% 0%,84.444% 0%,85.016% 0.28%,85.552% 0.847%,86.055% 1.669%,86.531% 2.713%,86.984% 3.948%,87.417% 5.342%,87.834% 6.863%,88.241% 8.48%,88.641% 10.16%,89.039% 11.872%,89.039% 11.872%,89.186% 12.43%,89.358% 12.941%,89.553% 13.402%,89.767% 13.81%,90% 14.163%,90.248% 14.457%,90.509% 14.691%,90.782% 14.861%,91.064% 14.965%,91.352% 15%,97.333% 15%,97.333% 15%,97.766% 15.079%,98.176% 15.306%,98.559% 15.67%,98.908% 16.158%,99.219% 16.757%,99.485% 17.456%,99.702% 18.243%,99.864% 19.104%,99.965% 20.027%,100% 21%,100% 94%,100% 94%,99.965% 94.973%,99.864% 95.896%,99.702% 96.757%,99.485% 97.543%,99.219% 98.243%,98.908% 98.842%,98.559% 99.33%,98.176% 99.694%,97.766% 99.921%,97.333% 100%,2.667% 100%,2.667% 100%,2.234% 99.921%,1.824% 99.694%,1.441% 99.33%,1.092% 98.842%,0.781% 98.243%,0.515% 97.543%,0.298% 96.757%,0.136% 95.896%,0.035% 94.973%,0% 94%,0% 21%,0% 21%,0.035% 20.027%,0.136% 19.104%,0.298% 18.243%,0.515% 17.456%,0.781% 16.757%,1.092% 16.158%,1.441% 15.67%,1.824% 15.306%,2.234% 15.079%,2.667% 15%,8.941% 15% );
		}

		&-title {

			&,
			* {
				color: inherit;
			}
		}

		&-text {
			color: inherit;
		}
	}
}

@media (min-width: 75rem) {
	.percentage__list {

		.swiper-slide {
			width: 100%;
		}
	}
}