.percentage {
	padding-top: 2rem;

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;

		&-item {
			background-color: var(--background);
			border-radius: var(--radius-lg);
			padding: 3.75rem;

			&:nth-child(3n-2) {
				color: var(--light-color);
				background-color: var(--background-dark);
			}

			&:nth-child(3n)  {
				color: var(--light-color);
				background-color: var(--primary-color);
			}
		}

		&-title {
			margin-bottom: 0;

			&,
			* {
				color: inherit;
			}
		}

		&-text {
			color: inherit;
			font-size: var(--fs-xl);
		}
	}
}