.photofixing {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1.875rem;
	padding-bottom: 6.25rem;

	&__item {
		flex-basis: 22.5rem;
		text-align: center;

		&-image {
			width: auto;
			display: block;
			margin-inline: auto;
			margin-bottom: .25rem;
			object-fit: contain;
		}

		&-title {
			font-family: var(--font-family);
			font-size: var(--fs-lg);
			font-weight: 400;
			margin-bottom: 0;
		}
	}
}