.range {
	width: 100%;
	min-height: 6.25rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&-field {
		width: 100%;
		height: .625rem;
		background-color: var(--background-light);
		position: relative;
		z-index: 1;
	}

	&-set {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		pointer-events: none;
	}

	&-current {
		display: block;
		font-size: var(--fs-lg);
		color: var(--primary-color);
		text-align: center;
		white-space: nowrap;
		position: absolute;
		left: 50%;
		bottom: calc(100% + .625rem);
		transform: translateX(-50%);
	}

	&-track {
		height: 100%;
		position: absolute;
		background-color: var(--primary-color);
		top: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	&-input {
		appearance: none;
		width: 100%;
		height: 100%;
		background: none;
		pointer-events: none;
		top: 50%;
		transform: translateY(-50%);

		&[type="range"] {
			&::-webkit-slider-thumb {
				appearance: none;
				width: 1.5rem;
				height: 1.5rem;
				background: none;
				pointer-events: auto;
				cursor: pointer;
			}

			&::-moz-range-thumb {
				-moz-appearance: none;
				width: 1.5rem;
				height: 1.5rem;
				background: none;
				pointer-events: auto;
				cursor: pointer;
			}
		}
	}

	&-btn {
		--_background-color: var(--primary-color);
		--_background-color-active: var(--primary-color);
		--_border-color-active: var(--light-color);
		
		width: 100%;
		height: 100%;
		border: 3px solid var(--background);
		border-radius: 50%;
		box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.15);
		pointer-events: none;
	}

	&-value {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: .75rem;
	}
}