.result {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	font-size: var(--fs-md);

	&__item {
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
		background-color: var(--background-light);
		border-radius: var(--radius-lg);
		padding: 3.125rem;

		&-icon {
			--_i-size: 1.875rem;
			--_i-color: inherit;
		}

		&-title {
			color: inherit;
			margin-bottom: 1.25rem;
		}

		&:nth-child(even) {
			color: var(--light-color);
			background: var(--primary-color) radial-gradient(40% 40% at 90% 10%, rgba(255, 255, 255, .5) 0%, rgb(133, 187, 21) 100%);
		}
	}

	&-bottom {
		display: flex;
		justify-content: center;
		margin-top: 3.125rem;
	}
}

.result-sm {
	grid-template-columns: repeat(4, 1fr);

	.result__item {
		min-height: 24.375rem;

		&-title {
			font-size: var(--fs-xl);
			margin-bottom: 1rem;
		}

		&-text {
			font-size: var(--fs);
		}

		&:nth-child(even) {
			color: initial;
			background: var(--background-light);
		}
		
		&:nth-child(8n + 2),
		&:nth-child(8n + 4),
		&:nth-child(8n + 5),
		&:nth-child(8n + 7) {
			color: var(--light-color);
			background: var(--primary-color) radial-gradient(40% 40% at 90% 10%, rgba(255, 255, 255, .5) 0%, rgb(133, 187, 21) 100%);
		}
	}
}