/** > 1400px **/
@media (max-width: 87.5rem) {

	// sections
	.background-section--inner {
		margin-inline: calc(var(--container-offset) * -1);
		padding-inline: var(--container-offset);
	}

	// implemented
	.implemented {
		margin-inline: calc(var(--container-offset) * -1);
	}

	// result
	.result-sm {

		.swiper-slide {

			&:nth-child(8n + 2),
			&:nth-child(8n + 4),
			&:nth-child(8n + 5),
			&:nth-child(8n + 7) {
				.result__item {
					color: initial;
					background: var(--background-light);
				}
			}

			&:nth-child(even) {
				.result__item {
					color: var(--light-color);
					background: var(--primary-color) radial-gradient(40% 40% at 90% 10%, rgba(255, 255, 255, .5) 0%, rgb(133, 187, 21) 100%);
				}
			}
		}
	}

}

/** > 1200px **/
@media (max-width: 75rem) {
	:root {
		// font-size
		--h1: 4rem;
		--h2: 3.75rem;
		--h3: 3.5rem;
		--h4: 2.5rem;
		--h5: 1.75rem;
		--h6: 1.5rem;
		--h7: 1.25rem;
	
		--fs: .875rem;
		--fs-xxs: .625rem;
		--fs-xs: .75rem;
		--fs-sm: .875rem;
		--fs-md: .9375rem;
		--fs-lg: 1.125rem;
		--fs-xl: 1.25rem;
		--fs-xxl: 1.5rem;
	}

	// sections
	.section {

		&-title--bigger,
		&-subtitle-current {
			font-size: 6.25rem;
		}

		&-bottom {
			margin-top: 2.5rem;

			&__btn {
				min-width: 20rem;
			}
		}
	}

	// buttons
	.btn-primary,
	.btn-dark,
	.btn-light {
		min-height: 5rem;
	}

	.btn-lg {
		min-height: 6.25rem;
		padding: .625rem 2.5rem;
	}

	// list
	.list-icon {

		&-item {
			gap: 1.5rem;
		}

		&-svg {
			--_i-size: 2.5rem;
		}
	}

	.list-icon-md {

		&-item {
			gap: 1rem;
		}
	}

	// tabs
	.tabs {

		&__nav {
			justify-content: flex-start;
		}

		&__inner {
			grid-template-columns: 1fr;
			border-radius: var(--radius-lg);
			padding: 3rem 2.5rem;

			&-start {
				padding-top: 0;
			}

			&-example {
				padding: 2rem;

				&_title {
					margin-bottom: .875rem;
				}

				&_subtitle {
					max-width: 10rem;
					margin-bottom: 1.5rem;
				}

				&_table thead th {
					padding-bottom: .5rem;
				}
			}
		}

		&--transfer {
			display: none;
		}
	}
	
	// swipers
	.swiper {

		&-hint {
			display: flex;
		}
	}

	// accordion
	.accordion-group--resizable {
		
		.accordion-group__start,
		.accordion-group__end {
			gap: 1.25rem;
		}

		.accordion {

			&.is-open {

				.accordion__btn {
					--_color: var(--secondary-color);
					--_color-active: var(--secondary-color);

					.primary-color {
						color: var(--light-color) !important;
					}
				}
			}

			&__btn {
				--_color-active: var(--secondary-color);
				
				.primary-color {
					transition: color	var(--transition-duration) var(--transition-type);
				}

				&:is(:active, :focus-visible, .is-active) {
					.primary-color {
						color: var(--light-color) !important;
					}
				}
			}

			&__content {
				background-color: var(--background-light);
				border-radius: var(--radius-md);
				padding: 2.5rem 2rem;
			}
		}
	}

	.accordion {

		&-group {
			gap: 1.25rem;

			&--import {
				display: flex;
			}
		}

		&__cotnent {
			margin-top: 1.25rem;
		}
	}

	// logo
	.logo-description {
		display: none;
	}

	// header
	.header {

		&__inner,
		&__start {
			gap: 1.5rem;
		}

		&__phone {
			--_icon-size: 2.5rem
		}

		&__callback {
			min-height: 2.5rem;
			padding: 0.5rem 1.25rem;
		}
	}

	// hero
	.hero {
		min-height: 50rem;
		padding-block: 7.5rem;

		&__features {
			margin-block: 2.5rem 3.125rem;
		}

		&__feature {
			gap: 1rem;

			&-icon {
				--_i-size: 1.5rem
			}
		}

		&__footer {
			gap: 1.5rem;
		}

		&__hint {
			gap: .875rem;

			&-icon {
				--_i-size: 3rem;
			}
		}
	}
	
	// percentage
	.percentage {
		
		&__list {

			&-item {
				padding: 2.5rem;
			}
		}
	}

	// risk 
	.risk {

		&__container {
			grid-template-columns: minmax(20rem, 75rem);
			gap: 4rem;
		}
	}

	// efficacy
	.btn-efficacy {
		width: calc(100% - var(--container-offset) * 2);
		max-width: 30rem;
		min-height: 3.75rem;
		margin-inline: var(--container-offset);
		padding: 1rem 2.5rem;
		writing-mode: initial;
		top: auto;
		right: calc(50% - var(--container-offset));
		bottom: 0;
		transform: translateX(50%);
		border-radius: var(--radius-lg) var(--radius-lg) 0 0;
	}

	// result
	.result {

		&__item {
			padding: 2.5rem;
		}

		.swiper-slide {
			width: 26rem;
		}
	}

	.result-sm {

		.result__item {
			min-height: 20rem;
		}
	}

	// implemented
	.implemented {
		padding-block: 6.25rem;

		&__list {
			font-size: var(--fs-sm);

			&-image {
				height: 5rem;
			}
		}
	}

	// video
	.video-wrapper--4x3 {
		aspect-ratio: 16/8;
	}

	.video-play {
		--_icon-size: 5rem;
	}

	// photofixing
	.photofixing {
		justify-content: center;
	}

	// timesheet
	.timesheet {
		grid-template-columns: 1fr;
		gap: 2rem;
		text-align: center;
	}

	// bourse
	.bourse {
		margin-bottom: 3rem;
	}

	// footer
	.footer {
		padding-bottom: 6rem;

		&__inner {
			grid-template-columns: 16rem auto auto auto;
			gap: .5rem 2rem;
		}

		&__socials {
			gap: .5rem;

			&-link {
				--_icon-size: 2.5rem
			}
		}
	}

}

/** > 992px **/
@media (max-width: 62rem) {

	// sections
	.section {

		&-subtitle {
			flex-direction: column;
			gap: initial;
			text-align: center;
		}
	}

	.list-icon {
		&-item {
			gap: 1rem;
		}
	}

	// hero
	.hero {
		display: flex;
		flex-direction: column;
		padding-block: 6.25rem;

		&__features {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1.875rem .625rem;
			margin-block: 2.5rem 0;
			text-align: center;
			order: 1;
		}

		&__feature {
			flex-basis: calc(50% - .625rem);
			flex-direction: column;
			align-items: center;
			gap: .25rem;
		}

		&__footer {
			grid-template-columns: minmax(16rem, 25.875rem);
			margin-top: 1.875rem;
		}
	}

	// result
	.result__item {
		gap: 1.25rem;

		&-title {
			margin-bottom: 1rem;
		}

		&:nth-child(3) {
			grid-column: 2;
		}

		&:nth-child(4) {
			grid-column: 1;
			grid-row: 2;
		}
	}

	// risk
	.risk__list {

		.list-icon {

			&-item {
				flex-direction: column;
			}

			&-content {
				margin-block: 0;
			}
		}
	}

	// footer
	.footer {

		&__inner {
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto;
		}

		&__top {

			.footer__inner {

				:first-child {
					grid-column: 1 / -1;
				}

				:nth-child(2) {
					grid-column: 1;
				}
				
				:nth-child(3) {
					grid-column: 2;
				}
				
				:nth-child(4) {
					grid-column: 3;
				}
			}
		}
	}

}

/** > 768px **/
@media (max-width: 48rem) {
	:root {
		// font-size
		--h1: 2.5rem;
		--h2: 2.25rem;
		--h3: 1.875rem;
		--h4: 1.5rem;
		--h5: 1.375rem;
		--h6: 1.25rem;
		--h7: 1.125rem;
	}

	// section
	.section {
		padding-bottom: 2.5rem;

		&-header {
			margin-bottom: .75rem;

			&--offset {
				margin-bottom: 1.5rem;
			}
		}

		&-title {
			font-size: var(--h5);
			text-align: center;

			&--bigger {
				font-size: 2.25rem;
			}
		}

		&-text {
			font-size: var(--fs);
			text-align: center;

			+ .section-text {
				margin-top: 1rem;
			}

			&--offset {
				margin-bottom: 2.5rem;
			}

			&--center {
				margin-bottom: .625rem;
			}
		}

		&-subtitle {
			line-height: 1;
			text-align: center;
			margin-bottom: 2rem;

			&-text {
				font-size: var(--h4);
			}

			&-current {
				font-size: 5rem;
			}
		}

		&-bottom {
			margin-top: 1.25rem;

			&__btn {
				min-width: unset;
				width: 100%;
			}
		}

		&:last-child {
			padding-bottom: 2.5rem;
		}
	}

	.background-section {
	
		.section:last-child {
			padding-bottom: 0;
		}

		&--inner {
			margin-block: 0 -2.5rem;
			padding-block: 0 2.5rem;
			background-image: url(../img/background-2--mobile.webp);
			background-position: center bottom;
		}
	}

	// utilities
	.text-background-light {
		padding: 0 .5rem;
	}
	
	// buttons
	.btn-primary,
	.btn-dark,
	.btn-light {
		font-size: 1rem;
		min-height: 3.125rem;
	}

	.btn-lg {
		font-size: var(--fs-xs);
		min-height: 3.75rem;
		padding: .75rem 2rem;
	}

	// list
	.list-icon {

		&-item {
			gap: .625rem;
		}

		&-svg {
			--_i-size: 1.5rem;
		}

		&-title {
			margin-bottom: .25rem;
		}
	}

	.list-icon-md {
		gap: .75rem;
		font-size: var(--fs-sm);

		&:not(.swiper) {
			gap: .75rem;
		}

		.list-icon-item {
			gap: .625rem;
		}
	}

	// tabs
	.tabs {

		&__inner {
			gap: 1.5rem;
			padding: 1.875rem 1rem 1rem;

			&-title {
				font-size: var(--h6);
				text-align: center;
				margin-bottom: 1rem;
			}

			&-end {
				grid-template-columns: 1fr;
				gap: .625rem;

				&--video {
					height: 50vw;
					min-height: 10rem;
				}
			}

			&-example,
			&-image {
				border-radius: var(--radius-sm);
			}

			&-example {
				padding: 1rem;

				&_title {
					font-size: var(--fs-sm);
				}

				&_subtitle {
					margin-bottom: 1.25rem;
				}

				&_table {
					font-size: var(--fs-xs);
				}
			}

			&-image {
				height: 70vw;
				min-height: 10rem;
			}
		}
	}

	// swipers
	.swiper {

		&-hint {
			font-size: .625rem;
		}
	}

	// accordion
	.accordion-group--resizable {

		.accordion-group__start,
		.accordion-group__end {
			gap: .625rem;
		}

		.accordion {

			&__btn {
				font-size: var(--fs-md);
			}

			&__content {
				padding: 1.875rem 1rem;
			}
		}
	}
	
	.accordion {

		&-group {
			gap: .625rem;
		}

		&__btn {
			--_icon-size: 1.5rem;

			font-size: 1rem;
			padding: .625rem .5rem .625rem 1rem;
		}

		&__content {
			margin-top: .625rem;
		}
	}

	// swipers
	.resizable-swiper {
		.swiper-slide {
			width: 13.75rem;
		}
	}

	// logo
	.logo {
		font-size: 1rem;
	}

	// header
	.header {

		&__inner,
		&__start {
			gap: 1rem;
		}

		&__end {
			gap: 1.25rem;
		}

		&__phone {
			--_icon-size: 1.5rem;

			flex-direction: row-reverse;
			gap: .75rem;
			font-size: var(--fs-sm);

			&-content--tiny {
				display: none;
			}
		}
		
		&__callback {
			display: none;
			min-height: 2.5rem;
		}
	}

	// hero
	.hero {
		min-height: 20rem;
		background: var(--background-light);
		padding-block: 2.5rem;
		
		&__efficacy {
			padding: 2rem .75rem;
		}

		&__features {
			font-size: var(--fs-sm);
		}
		
		&__feature {
			gap: .75rem;
		}

		&__footer {
			gap: .75rem;
		}

		&__hint {
			gap: .75rem;
			font-size: var(--fs-xs);
			text-align: center;

			&-icon {
				display: none;
			}
		}
	}
	
	// percentage
	.percentage {
		
		&__list {

			&-item {
				padding: 1.25rem 1.5rem 2rem;
			}

			&-title {

				span {
					font-size: var(--h1);
				}
			}

			&-text {
				font-size: var(--fs-sm);
			}
		}
	}

	// risk
	.risk {

		&__container {
			gap: 2.5rem;
		}
	}

	// result
	.result {

		.swiper-slide {
			width: 17rem;
		}

		&__item {
			gap: .625rem;
			border-radius: var(--radius-md);
			padding: 1.5rem;

			&-icon {
				--_i-size: 1.5rem;
			}

			&-title {
				font-size: var(--h6);
				margin-bottom: .625rem;
			}
		}
	}
	
	.result-sm {

		.result__item {
			min-height: 16rem;

			&-title {
				margin-bottom: .625rem;
			}
		}
	}

	// implemented
	.implemented {
		border-radius: var(--radius-md);
		padding-block: 2.5rem;

		&__list {
			
			&-item {
				gap: 0.625rem;
			}

			&-image {
				height: 3.75rem;
			}

			&-title {
				margin-bottom: .125rem;
			}
		}
	}

	// video
	.js-video {
		border-radius: var(--radius-md);
	}

	.video-wrapper {
		width: 100%;
		height: 100%;
		aspect-ratio: 4 / 3;
	}

	.video-play {
		--_icon-size: 6.25rem;
	}

	// photofixing
	.photofixing {
		gap: 1.875rem .625rem;
		margin-bottom: 3.125rem;
		
		&__item {
			flex-basis: calc(50% - .625rem);

			&-image {
				height: 5rem;
				margin-bottom: 0;
			}

			&-title {
				font-size: var(--fs-sm);
			}

			&:last-child {
				flex-basis: 100%;
			}
		}
	}
	
	// timesheet
	.timesheet {
		gap: 1.25rem;
	}

	// bourse
	.bourse {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.875rem .625rem;
		margin-bottom: 2.5rem;

		&__item {

			&-image {
				height: 4.375rem;
				margin-bottom: .625rem;
			}

			&-title {
				font-size: 1rem;
			}
		}
	}

	// footer
	.footer {
		padding-block: 1.5rem 5rem;
			
		&__logo {
			font-size: 1.5rem;
		}

		&__inner {
			grid-template-columns: 1fr;
			grid-template-rows: initial;
			justify-items: flex-start;
		}

		&__top {
			padding-bottom: 1.5rem;

			.footer__inner {
				grid-template-columns: 1fr auto;
				gap: 1rem 2rem;
		
				:first-child {
					grid-column: initial;
				}
	
				:nth-child(2) {
					grid-column: initial;
				}
				
				:nth-child(3) {
					grid-column: 1;
				}
				
				:nth-child(4) {
					grid-column: 2;
				}
			}
		}

		&__bottom {
			font-size: 1rem;
			padding-top: 1.5rem;
		}

		&__phone {
			font-size: var(--fs-xl);
		}

		&__socials {

			&-link {
				--_icon-size: 2rem
			}
		}
	}

}

/** > 576px **/
@media (max-width: 36rem) {

	// footer
	.footer {
		text-align: center;

		&__inner {
			justify-items: center;
		}

		&__top {

			.footer__inner {
				grid-template-columns: 1fr;
						
				:nth-child(3),
				:nth-child(4) {
					grid-column: initial;
				}
			}
		}
	}

}

/** > 380px **/
@media (max-width: 23.75rem) {

}