.risk {

	&__container {
		display: grid;
		grid-template-columns: minmax(45rem, 58rem) minmax(22rem, 30rem);
		gap: 2rem;
		justify-content: space-between;
	}
}

@media (min-width: 75rem) {
	.risk__list {

		.swiper-wrapper {
			grid-template-columns: 1fr;
			gap: 4.375rem;
		}
	}
}