.section {
	padding-bottom: 9.375rem;

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem 2rem;
		margin-bottom: 1rem;

		&--center {
			max-width: 78rem;
			margin-inline: auto;
			justify-content: center;
			text-align: center;

			&-lg {
				max-width: 88rem;
			}

			~ .section-text {
				text-align: center;
			}
		}

		&--offset {
			margin-bottom: 5rem;

			.section-title {
				margin-bottom: 0;
			}
		}
	}

	&-subtitle {
		max-width: 62.5rem;
		display: flex;
		align-items: center;
		gap: 1.5rem;
		margin-inline: auto;
		margin-bottom: 5rem;

		&-text {
			font-family: var(--font-title);
			font-size: var(--h6);
			font-weight: 700;
			white-space: nowrap;
		}

		&-current {
			font-size: 7.5rem;
			color: var(--primary-color);
		}
	}

	&-title {
		text-transform: uppercase;
		margin-bottom: 0;

		&--inherit {
			color: inherit;
		}

		&--bigger {
			display: block;
			font-size: 7.5rem;
		}
	}

	&-text {
		font-size: var(--fs-xxl);

		+ .section-text {
			margin-top: 2rem;
		}

		&--md {
			font-size: var(--fs-xl);
		}

		&--center {
			max-width: 52rem;
			margin-inline: auto;
			text-align: center;
			margin-bottom: 1rem;

			&-lg {
				max-width: 62rem;
				margin-inline: auto;
				text-align: center;
			}
		}
		
		&--offset {
			margin-bottom: 5rem;
		}
	}

	&-bottom {
		display: flex;
		justify-content: center;
		margin-top: 3.125rem;

		&__btn {
			min-width: 30rem;
		}
	}

	&:last-child {
		padding-bottom: 6.25rem;
	}
}

.background-section {
	background-image: url(../img/background.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.section:last-child {
		padding-bottom: 0;
	}

	&--bigger {
		margin-block: -18.75rem;
		padding-block: 28.125rem;

		&:last-child {
			padding-bottom: 25rem;
		}
	}

	&--inner {
		background-image: url(../img/background-2.webp);
		margin-top: -9.375rem;
		padding-top: 9.375rem;
	}
}