.tabs {

	&__nav {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: .625rem;
		margin-bottom: 1.25rem;
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: auto;

		&-btn {
			min-height: 5rem;
			font-family: var(--font-title);
			text-transform: uppercase;
			padding: .5rem 3.125rem;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: minmax(22rem, 28.75rem) minmax(36rem, 1fr);
		gap: 2.5rem;
		background-color: var(--background-light);
		border-radius: var(--radius-3xl);
		padding: 4.375rem 6.25rem;

		&-start {
			padding-top: 1.875rem;
		}

		&-title {
			margin-bottom: 2rem;
		}

		&-end {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.875rem;

			&_image {
				display: block;
				width: 100%;
			}

			&--video {
				min-height: 26.25rem;
				grid-template-columns: 1fr;
				align-items: center;
			}
		}

		&-example,
		&-image {
			background-color: var(--background);
			border-radius: var(--radius-lg);
		}

		&-example {
			padding: 3.125rem 2.5rem;

			&_title {
				width: max-content;
				display: flex;
				align-items: center;
				gap: .5rem;
				font-size: var(--fs-xs);
				line-height: normal;
				color: var(--light-color);
				background-color: var(--primary-color);
				margin-bottom: 1rem;
				border-radius: var(--radius);
				padding: .5rem .75rem;

				.icon {
					--_i-size: .75rem;
					--_i-color: currentColor;
				}
			}

			&_subtitle {
				max-width: 12rem;
				font-size: var(--fs);
				margin-bottom: 2.5rem;
			}

			&_table {
				width: 100%;
				font-size: var(--fs-sm);

				thead {

					th {
						padding-bottom: 1rem;
					}
				}

				th,
				td {

					&:not(:last-child) {
						padding-right: .75rem;
					}
				}

				th {
					font-weight: 500;
					text-align: left;
				}
			}
		}

		&-image {
			min-height: 20rem;
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&--horizontal {
		display: grid;
		grid-template-columns: minmax(26rem, 32.5rem) minmax(50rem, 61.25rem);
		align-items: start;
		gap: 1.875rem;

		.tabs__nav {
			height: 100%;
			flex-direction: column;
			justify-content: flex-start;
			gap: 1rem;
			margin-bottom: 0;
			white-space: initial;
			overflow: visible;

			&-btn {
				width: 100%;
				min-height: 6.875rem;
				border-radius: var(--radius-md);
			}
		}

		.tabs__panel,
		.tabs__inner {
			height: 100%;
		}

		.tabs__inner {
			grid-template-columns: 1fr;
			gap: 3.125rem;
			position: relative;

			&-item {

				&:first-child {

					.tabs__inner-title {
						max-width: 42rem;
					}
				}
			}

			.list-icon,
			&-title {
				max-width: 26rem;
			}

			&-title {
				margin-bottom: 2.5rem;
			}

			&-picture {
				width: 100%;
				height: 100%;
				position: absolute;
				pointer-events: none;
			}

			&-image {
				width: 33.75rem;
				height: 32.5rem;
				object-fit: contain;
				background-color: transparent;
				border-radius: 0;
				position: absolute;
				bottom: -2.5rem;
				right: -7.5rem;
			}
		}
	}
}