.tasks {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.875rem;
	margin-top: 4rem;

	&__item {
		width: 100%;
		display: flex;
		align-items: center;
		gap: .875rem;
		font-size: var(--fs-lg);
		background-color: var(--background-gray);
		border-radius: var(--radius-md);
		padding: 1.5rem;

		&-icon {
			--_i-size: 1.875rem;
			--_i-color: var(--primary-color);
		}

		&:nth-child(4n + 2) {
			color: var(--light-color);
			background-color: var(--primary-color);

			.tasks__item-icon {
				--_i-color: currentColor;
			}
		}
		&:nth-child(4n + 3) {
			color: var(--light-color);
			background-color: var(--background-dark);

			.tasks__item-icon {
				--_i-color: currentColor;
			}
		}
	}
}