h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: var(--font-title);
	font-weight: 700;
	line-height: 1.2;
	color: var(--title-color, #000);
	margin-block: 0 1.25rem;
}

h1,
.h1 {
	font-size: var(--h1);
}

h2,
.h2 {
	font-size: var(--h2);
}

h3,
.h3 {
	font-size: var(--h3);
}

h4,
.h4 {
	font-size: var(--h4);
}

h5,
.h5 {
	font-size: var(--h5);
}

h6,
.h6 {
	font-size: var(--h6);
}

h7,
.h7 {
	font-size: var(--h7);
}

p {
	margin: 0;

	+ p {
		margin-block-start: 1rem;
	}
}

.text-underline {
	text-decoration: underline !important;
}

.text-initial {
	text-decoration: initial !important;
}