.font-family {
	font-family: var(--font-family) !important;
}

.font-title {
	font-family: var(--font-title) !important;
}

.font-third {
	font-family: var(--font-third) !important;
}

.primary-color {
	color: var(--primary-color) !important;
}

.secondary-color {
	color: var(--secondary-color) !important;
}

.title-color {
	color: var(--title-color);
}

.dark-color {
	color: var(--dark-color);
}

.light-color {
	color: var(--light-color);
}

.gray-color {
	color: var(--gray-color);
}

.text-color {
	color: var(--text-color) !important;
}

.text-gray {
	color: #878689 !important;
}

.text-start {
	text-align: start !important;
}

.text-marker {
	color: var(--secondary-color);
	position: relative;
	z-index: 1;

	&::after {
		content: '';
		display: block;
		background-image: url(../img/marker.webp);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		pointer-events: none;
		position: absolute;
		top: 0;
		right: -.25rem;
		bottom: 0;
		left: -.5rem;
		z-index: -1;
	}
}

.text-background {
	display: inline-block;
	color: var(--light-color);
	background-color: var(--primary-color);
	border-radius: var(--radius-md);
	padding: 0 .75rem;
}

.text-background-outline {
	display: inline-block;
	line-height: 1;
	background-color: transparent;
	border: 2px solid var(--primary-color);
	border-radius: var(--radius-md);
	padding: 0 .75rem;
}

.text-background-light {
	display: inline-block;
	color: var(--primary-color);
	background-color: var(--background);
	border-radius: var(--radius-md);
	padding: 0 .75rem;
}

.brand {
	font-family: var(--font-third) !important;
	font-size: .9375em !important;
	text-transform: initial !important;
}

.clip-path-1 {
	clip-path: polygon( 8.923% 7.264%,8.923% 7.264%,9.01% 7.256%,9.096% 7.231%,9.181% 7.191%,9.264% 7.135%,9.346% 7.063%,9.425% 6.977%,9.501% 6.875%,9.575% 6.759%,9.646% 6.63%,9.713% 6.486%,12.192% 0.778%,12.192% 0.778%,12.259% 0.635%,12.33% 0.505%,12.403% 0.389%,12.48% 0.288%,12.559% 0.201%,12.641% 0.13%,12.724% 0.073%,12.809% 0.033%,12.895% 0.008%,12.982% 0%,87.039% 0%,87.039% 0%,87.127% 0.009%,87.215% 0.034%,87.301% 0.076%,87.386% 0.135%,87.469% 0.209%,87.549% 0.299%,87.627% 0.404%,87.702% 0.524%,87.773% 0.659%,87.841% 0.808%,90.224% 6.456%,90.224% 6.456%,90.292% 6.605%,90.364% 6.74%,90.439% 6.86%,90.516% 6.965%,90.597% 7.055%,90.68% 7.13%,90.764% 7.188%,90.851% 7.23%,90.938% 7.256%,91.027% 7.264%,98.81% 7.264%,98.81% 7.264%,99.003% 7.305%,99.186% 7.422%,99.357% 7.609%,99.513% 7.861%,99.651% 8.17%,99.77% 8.53%,99.867% 8.935%,99.939% 9.378%,99.984% 9.854%,100% 10.355%,100% 96.909%,100% 96.909%,99.984% 97.41%,99.939% 97.886%,99.867% 98.329%,99.77% 98.734%,99.651% 99.095%,99.513% 99.404%,99.357% 99.655%,99.186% 99.842%,99.003% 99.96%,98.81% 100%,65.662% 100%,65.662% 100%,65.58% 99.993%,65.499% 99.971%,65.419% 99.935%,65.34% 99.885%,65.263% 99.821%,65.187% 99.744%,65.114% 99.653%,65.043% 99.549%,64.975% 99.433%,64.91% 99.304%,63.305% 95.905%,63.305% 95.905%,63.239% 95.776%,63.171% 95.659%,63.1% 95.556%,63.027% 95.465%,62.952% 95.388%,62.874% 95.324%,62.795% 95.274%,62.715% 95.238%,62.634% 95.216%,62.552% 95.209%,50% 95.209%,37.465% 95.209%,37.465% 95.209%,37.385% 95.216%,37.306% 95.236%,37.228% 95.27%,37.151% 95.318%,37.076% 95.378%,37.003% 95.451%,36.931% 95.537%,36.861% 95.635%,36.794% 95.746%,36.73% 95.868%,35.026% 99.34%,35.026% 99.34%,34.962% 99.463%,34.895% 99.573%,34.825% 99.671%,34.753% 99.757%,34.68% 99.831%,34.604% 99.891%,34.528% 99.938%,34.45% 99.972%,34.371% 99.993%,34.291% 100%,1.19% 100%,1.19% 100%,0.997% 99.96%,0.814% 99.842%,0.643% 99.655%,0.487% 99.404%,0.349% 99.095%,0.23% 98.734%,0.133% 98.329%,0.061% 97.886%,0.016% 97.41%,0% 96.909%,0% 10.355%,0% 10.355%,0.016% 9.854%,0.061% 9.378%,0.133% 8.935%,0.23% 8.53%,0.349% 8.17%,0.487% 7.861%,0.643% 7.609%,0.814% 7.422%,0.997% 7.305%,1.19% 7.264%,8.923% 7.264% );
}

.clip-path-2 {
	clip-path: polygon( 0% 7.018%,0% 7.018%,0.053% 5.879%,0.206% 4.799%,0.452% 3.793%,0.781% 2.873%,1.185% 2.055%,1.656% 1.354%,2.186% 0.783%,2.767% 0.358%,3.389% 0.092%,4.046% 0%,95.954% 0%,95.954% 0%,96.611% 0.092%,97.233% 0.358%,97.814% 0.783%,98.344% 1.354%,98.815% 2.055%,99.22% 2.873%,99.548% 3.793%,99.794% 4.799%,99.947% 5.879%,100% 7.018%,100% 82.95%,100% 82.95%,99.947% 84.088%,99.794% 85.168%,99.548% 86.175%,99.22% 87.094%,98.815% 87.912%,98.344% 88.613%,97.814% 89.184%,97.233% 89.609%,96.611% 89.875%,95.954% 89.967%,85.757% 89.967%,85.757% 89.967%,85.376% 89.998%,85.001% 90.091%,84.636% 90.242%,84.281% 90.451%,83.94% 90.715%,83.614% 91.032%,83.306% 91.401%,83.018% 91.82%,82.752% 92.287%,82.51% 92.799%,80.638% 97.168%,80.638% 97.168%,80.396% 97.681%,80.13% 98.147%,79.842% 98.566%,79.534% 98.935%,79.208% 99.252%,78.867% 99.516%,78.512% 99.725%,78.147% 99.877%,77.772% 99.969%,77.391% 100%,4.046% 100%,4.046% 100%,3.389% 99.908%,2.767% 99.642%,2.186% 99.217%,1.656% 98.646%,1.185% 97.945%,0.781% 97.127%,0.452% 96.207%,0.206% 95.201%,0.053% 94.121%,0% 92.982%,0% 7.018% );
}

.overflow-hidden {
	overflow: hidden !important;
}

.position-relative {
	position: relative !important;
}