.font-family {
	font-family: var(--font-family) !important;
}

.font-title {
	font-family: var(--font-title) !important;
}

.font-third {
	font-family: var(--font-third) !important;
}

.primary-color {
	color: var(--primary-color) !important;
}

.secondary-color {
	color: var(--secondary-color) !important;
}

.title-color {
	color: var(--title-color);
}

.dark-color {
	color: var(--dark-color);
}

.light-color {
	color: var(--light-color);
}

.gray-color {
	color: var(--gray-color);
}

.text-color {
	color: var(--text-color) !important;
}

.text-background {
	display: inline-block;
	color: var(--light-color);
	background-color: var(--primary-color);
	border-radius: var(--radius-md);
	padding: 0 .75rem;
}

.text-background-outline {
	display: inline-block;
	background-color: transparent;
	border: 2px solid var(--primary-color);
	border-radius: var(--radius-md);
	padding: 0 .75rem;
}

.text-background-light {
	display: inline-block;
	color: var(--primary-color);
	background-color: var(--background);
	border-radius: var(--radius-md);
	padding: 0 .75rem;
}

.brand {
	font-family: var(--font-third) !important;
	font-size: .9375em !important;
	text-transform: initial !important;
}