.font-family {
	font-family: var(--font-family) !important;
}

.font-title {
	font-family: var(--font-title) !important;
}

.primary-color {
	color: var(--primary-color) !important;
}

.secondary-color {
	color: var(--secondary-color) !important;
}

.title-color {
	color: var(--title-color);
}

.dark-color {
	color: var(--dark-color);
}

.light-color {
	color: var(--light-color);
}

.gray-color {
	color: var(--gray-color);
}

.text-color {
	color: var(--text-color) !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.fw-500 {
	font-weight: 500 !important;
}

.fw-400 {
	font-weight: 400 !important;
}