<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__inner">
        <div class="footer-brand">
          <a href="./index.html" class="logo footer__logo">
            <span class="logo__primary">
              таймбук
            </span>
            сервис
          </a>
        </div>
        <ul class="list-reset footer__details">
          <li>
            ИНН: 5260289263. 
          </li>
          <li>
            Адрес: 603093, Нижний Новгород, ул.
          </li>
          <li>
            Родионова, д.23А,, корп. 2,  оф. 205Б
          </li>
        </ul>

        <a href="tel:+79092828578" class="btn footer__phone">
          +7 (909) 282-85-78
        </a>
        <div class="footer__socials">
          <a href="#" target="_blank" class="btn footer__socials-link">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
              </svg>
            </span>
          </a>
          <a href="#" target="_blank" class="btn footer__socials-link">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__inner">
        <p class="footer__text">
          2019-2024 © ООО «Таймбук Сервис»
        </p>
        <p class="footer__text">
          Официальный поставщик WFM-решения timebook
        </p>
        <p class="footer__text">
          *не является публичной офертой
        </p>
        <a href="#" class="btn btn-inherit text-underline footer__text-link">
          Политика конфиденциальности
        </a>
      </div>
    </div>
  </div>
</footer>
